<%= form_for shipping, html: { class: "form-horizontal" } do |form| %>
  <div class="js-form-step">
    <%= render "shippings/form_steps/receiver_step", form: form, shipping: shipping %>
  </div>

  <div class="js-form-step" style="display: none">
    <%= render "shippings/form_steps/shipping_step", form: form, shipping: shipping %>
  </div>
<% end %>
