<div class="container">
  <h2>Shippings</h1>
  <p>Create new shipping <%= link_to "here", new_shipping_path %></p>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Receiver Name</th>
        <th>Receiver Phone</th>
        <th>Shipping Address</th>
        <th>Shipping Day</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @shippings.each do |shipping| %>
        <%= render "shippings/shipping", shipping: shipping %>
      <% end %>
    </tbody>
  </table>
</div>
