<div class="panel panel-danger">
  <div class="panel-heading">
    Please try again
  </div>

  <div class="panel-body">
    <ul>
      <% error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
